body{

    background-image: url(/assets/images/655e884b27961db30f885e6482a44b12.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#cartelHeading, #askHeading, p{
    
    color: rgb(122, 17, 17);
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Fugaz One', cursive;
    /* font-family: 'Rubik 80s Fade', cursive; */
    text-align: center;

}

#ventaja, #desventaja{
    background-color: rgba(121, 62, 129, 0.185);
    border:0;
    color: rgb(122, 17, 17);
    text-align: center;

}
#vacio{
    /* width: 100%; */
    background-image: url(/assets/images/fondoPequeño.jpg);
    
}
.form-check{
    font-family: 'Rubik 80s Fade', cursive;
    font-size:xx-large;
    font-weight: 400;
    color: rgb(133, 0, 133);
}
.form-check> input{
    border-color:rgb(238, 235, 238);
    background-color: rgba(233, 226, 235, 0.788);
    
}
.form-check> input:checked{
    border-color:rgb(204, 125, 224);
    background-color: rgba(140, 0, 255, 0.788);
    
    color: beige;
}

#inside{
    width: 100%;
   background-color: rgba(31, 30, 30, 0.13);
    
}
.especial{
    background-color: rgba(121, 117, 120, 0.192);
    border:0;
    color:black;
}
.poem{
    background-color: rgba(218, 185, 144, 0.527);
}
.poem > p{
    
    font-family: 'Dancing Script', cursive;
    text-align: center;

}
#collage{
    background-color: rgba(154, 99, 161, 0.226);
}